# Development-related files and directories
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
.vscode/

# Build artifacts
/build
/out
/.next

# Environment files (if you are using environment variables)
.env
.env.local
.env.*.local

# Miscellaneous files
*.log
*.gz
*.zip
*.tar
*.tgz
